<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>general</string>
		<key>question</key>
		<string>Question1</string>
		<key>ans1</key>
		<string>Justin Trudeau</string>
		<key>ans2</key>
		<string>Bill Clinton</string>
		<key>ans3</key>
		<string>Rob Ford</string>
		<key>ans4</key>
		<string>Jackie Kennedy</string>
		<key>answer</key>
		<string>1</string>
	</dict>
	<dict>
		<key>province</key>
		<string>general</string>
		<key>question</key>
		<string>Question2</string>
		<key>ans1</key>
		<string>The first European settlers to arrive in Canada</string>
		<key>ans2</key>
		<string>The descendants of the first Australian immigrants to Canada</string>
		<key>ans3</key>
		<string>The first people to live in Canada</string>
		<key>ans4</key>
		<string>The first settlers of Newfoundland</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>province</key>
		<string>Ontario</string>
		<key>question</key>
		<string>Question3</string>
		<key>ans1</key>
		<string>Toronto</string>
		<key>ans2</key>
		<string>Ottawa</string>
		<key>ans3</key>
		<string>Vancouver</string>
		<key>ans4</key>
		<string>Calgary</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>province</key>
		<string>general</string>
		<key>question</key>
		<string>Question4</string>
		<key>ans1</key>
		<string>The first European settlers to arrive in Canada</string>
		<key>ans2</key>
		<string>The descendants of the first Australian immigrants to Canada</string>
		<key>ans3</key>
		<string>The first people to live in Canada</string>
		<key>ans4</key>
		<string>The first settlers of Newfoundland</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>province</key>
		<string>Ontario</string>
		<key>question</key>
		<string>Question5</string>
		<key>ans1</key>
		<string>Toronto</string>
		<key>ans2</key>
		<string>Ottawa</string>
		<key>ans3</key>
		<string>Vancouver</string>
		<key>ans4</key>
		<string>Calgary</string>
		<key>answer</key>
		<string>2</string>
	</dict>
	<dict>
		<key>province</key>
		<string>general</string>
		<key>question</key>
		<string>Question6</string>
		<key>ans1</key>
		<string>The first European settlers to arrive in Canada</string>
		<key>ans2</key>
		<string>The descendants of the first Australian immigrants to Canada</string>
		<key>ans3</key>
		<string>The first people to live in Canada</string>
		<key>ans4</key>
		<string>The first settlers of Newfoundland</string>
		<key>answer</key>
		<string>3</string>
	</dict>
	<dict>
		<key>province</key>
		<string>Ontario</string>
		<key>question</key>
		<string>Question7</string>
		<key>ans1</key>
		<string>Toronto</string>
		<key>ans2</key>
		<string>Ottawa</string>
		<key>ans3</key>
		<string>Vancouver</string>
		<key>ans4</key>
		<string>Calgary</string>
		<key>answer</key>
		<string>2</string>
	</dict>
</array>
</plist>
